{% extends "base.html" %} {# Erbt vom Basis-Layout #}

{% block title %}Impressum - Win Challenge Generator{% endblock %} {# Setzt den Seitentitel #}

{% block content %}
<div class="container mt-4"> {# Container für den Inhalt #}
    <h1 class="mb-4 page-title">Impressum</h1> {# Seitenüberschrift #}

    {# HIER DEINEN RECHTLICHEN IMPRESSUMSTEXT EINFÜGEN #}
    <p>Angaben gemäß § 5 TMG:</p>
    <p>
        Florian Kammerer / CatWebsitesMeow<br>
        <br>
        Bayerwaldstraße 21<br>
        93059 Regensburg
    </p>
    <p>
        Kontakt:<br>
        Telefon: Ruf bei Toni an<br>
        E-Mail: catwebsitesmeow@gmail.com
    </p>
    <p>
        Umsatzsteuerbefreit nach § 19 UStG<br>
        
    </p>
    {# Füge weitere notwendige Angaben hinzu (z.B. Vertretungsberechtigte, Registereintrag falls vorhanden, zuständige Aufsichtsbehörde etc.) #}
    <p>...</p> {# Platzhalter für weiteren Text #}
    {# ENDE DEINES IMPRESSUMSTEXTES #}

</div>
{% endblock %}